<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma première page avec le Site du Zéro !</title>
    </head>
    <body>


    {% for directory in directories %}
        <h2>{{ directory.getPath() }}</h2>
        <table width="100%" cellpadding="0" cellspacing="0">
            {% for repository in directory.getRepositories() %}
                {% set commit = repository.getLastCommit() %}
                {% set remoteCommit = repository.getLastRemoteCommit() %}
                {% if commit %}
                <tr>
                    <td width="40%">{{ repository.getName() }}</td>
                    <td width="10%">{{ repository.diffLocalRemoteStatus() }}</td>
                    <td width="25%">{{ commit.getName() }}</td>
                    <td width="25%">{{ remoteCommit.getName() }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endfor %}

    </body>
</html>
